.header-content{
     min-height: 75vh;
     background: linear-gradient(rgba(218, 203, 223, 0.5), rgba(206, 183, 214, 0.5)), url("../../images/background_final.jpg") center/cover ;
     flex-direction: column;
    }

    .header-title{

        font-size: 3rem;
        color: #000;
        font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        
   }
